<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>${env.MAVEN_CENTRAL_USERNAME}</username>
            <password>${env.MAVEN_CENTRAL_PASSWORD}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <property>
                    <name>release</name>
                </property>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <!-- Your Key Password -->
                <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>
