<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright (C) :     2012

    	Synchrotron Soleil
    	L'Orme des merisiers
    	Saint Aubin
    	BP48
    	91192 GIF-SUR-YVETTE CEDEX

    This file is part of Tango.

    Tango is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Tango is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Tango.  If not, see <http://www.gnu.org/licenses/>.

-->
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} %-5level [%X{deviceName}] %thread-%logger{36}.%M:%L - %msg%n</pattern><!-- <pattern>%d{HH:mm:ss.SSS} 
				[%thread] %-5level %logger{36}.%method %X{deviceName} - %msg%n</pattern> --><!--<Pattern>%X{deviceName} 
				- %m%n</Pattern> -->
		</layout>
	</appender>

	<!--<appender name="SOCKET" class="ch.qos.logback.classic.net.SocketAppender"> <RemoteHost>INF00973.synchrotron-soleil.fr</RemoteHost> 
		<Port>4560</Port> <ReconnectionDelay>10000</ReconnectionDelay> <IncludeCallerData>true</IncludeCallerData> <layout class="ch.qos.logback.classic.PatternLayout"> 
		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M:%L %X{deviceName} - %msg%n</pattern> </layout> </appender> <appender 
		name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender"> <SMTPHost>smtp.gmail.com</SMTPHost> <SMTPPort>465</SMTPPort> 
		<SSL>true</SSL> <Username>gwenaelle.abeille@gmail.com</Username> <Password></Password> <To>gwenaelle.abeille@synchrotron-soleil.fr</To> 
		additional destinations are possible <To>ANOTHER_EMAIL_DESTINATION</To> <From>gwenaelle.abeille@gmail.com</From> <Subject>TESTING 
		logging: %logger{30} - %m</Subject> <layout class="ch.qos.logback.classic.html.HTMLLayout" /> </appender> -->
	<logger name="jacorb" level="WARN" />
	<logger name="org.tango" level="DEBUG" />
	<logger name="org.quartz" level="DEBUG" />
	<logger name="net.sf.ehcache" level="ERROR" />
	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
		<!--<appender-ref ref="EMAIL" /> <appender-ref ref="SOCKET" /> -->
	</root>
</configuration>